<%- include('layouts/header') %>

<div class="container">
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/course/<%= course._id %>/material">&#8592; Back</a>
        <% if (selection === 'sessions') { %>
        <div class="list-group-item dropdown sessions-dropdowns">
            <button class="btn-block dropdown-toggle d-flex justify-content-between align-items-center" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Slides
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% course.Syllabus.forEach((session, index) => { %>
                <% if (session.Slides) { %>
                <a class="dropdown-item" href="<%= session.Slides %>" target="_blank">Session
                    <%= index + 1 %> | <%= session.Subject %></a>
                <% } else { %>
                <button class="dropdown-item" data-toggle="tooltip" data-placement="top"
                    title="There are no slides for this session">Session
                    <%= index + 1 %> | <%= session.Subject %></button>
                <% } %>
                <% }); %>
            </div>
        </div>
        <div class="list-group-item dropdown sessions-dropdowns">
            <button class="btn-block dropdown-toggle d-flex justify-content-between align-items-center" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Codes
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% course.Syllabus.forEach((session, index) => { %>
                <% if (index + 1 < 11) { %>
                <a class="dropdown-item"
                    href="/course/<%= course._id %>/material/code/Session <%= index + 1 %> code.zip">Session
                    <%= index + 1 %> code | <%= session.Subject %></a>
                <% } else { %>
                <button class="dropdown-item" data-toggle="tooltip" data-placement="top"
                    title="There is no code for this session">Session
                    <%= index + 1 %> code | <%= session.Subject %></button>
                <% } %>
                <% }); %>
            </div>
        </div>
        <% } else if (selection === 'assignments') { %>
        <% for (let i = 0; i < course.AssignmentsNumber; i++) { %>
        <a class="list-group-item list-group-item-action"
            href="/course/<%= course._id %>/material/documents/Task <%= i + 1 %>.pdf" target="_blank">Task
            <%= i + 1 %></a>
        <% } %>
        <% } else if (selection === 'project') { %>
        <% for (let i = 0; i < course.ProjectNumber; i++) { %>
        <a class="list-group-item list-group-item-action"
            href="/course/<%= course._id %>/material/documents/Project <%= i + 1 %>.pdf" target="_blank">Project
            <%= i + 1 %></a>
        <% } %>
        <% } %>
    </div>
</div>

<div class="hr">
    <hr>
</div>

<%- include('layouts/footer') %>